<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo">
    <listeners>
        <listener class-name="com.saucedemo.utilities.ListenerTestNG"/>
    </listeners>
    <test name="Add To Cart Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.saucedemo.tests.ValidateAddToCartTest"/>
        </classes>
    </test>
</suite>